/* Start Global Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f8f8;
}

.error-input {
    border: 2px solid #c30a0a;
}

.show-error-message {
    display: flex !important;
}

.message-error-pages {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #FFE9E5;
    color: #070e46;
    z-index: 1;
    padding: 10px;
    font-size: 15px;
    border-radius: 16px;
    margin-bottom: 10px;
}


.message-error-pages img {
    width: 24px;
    margin-right: 10px;
}

.loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.loading img {
    width: 70px;
}

/* End Global Rules */